@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	background-color: #ffffff;
	width: 80%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

.simpleTitle{
	font-size: 1.5em;
}

.formulario {
	width: 500px; 
	border-radius : 5px;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	margin-left: auto;
  	margin-right: auto;
}

.tabla {
	width: 100%;
}

.simpleLabel {
	width: 100%;
	display: block;
}

.simpleInput {
	width: 100%;
	display: block;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

.btnActualizar {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.btnCancelar {
	background-color: #f44336; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}